<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.meterial.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity android:name=".activity.SplashActivity"
                  android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".activity.ImmersionStatusBar"/>
        <activity android:name=".activity.CoordinatorAndFloating"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".activity.GuideActivity"/>
        <activity android:name=".fragment.CheeseDetailActivity"/>
        <activity android:name=".activity.BannerActivity"
                  android:theme="@style/BlankTheme"/>
        <activity android:name=".activity.RecyclerViewUsed"/>
        <activity android:name=".activity.EndlessRecycle"/>


        <activity android:name=".activity.TransitionMainActivity"
            />
        <activity android:name=".MDTransition.TestActivity"/>

        <activity android:name=".activity.TransitonActivity1"
                  />
        <activity android:name=".activity.TransitionActivity2"
                  />



        <activity android:name=".activity.CircularRevealActivity"/>
        <activity android:name=".activity.BottomSheetActivity"/>
        <activity android:name=".activity.NestedScrollViewActivity"/>
        <activity android:name=".activity.RecyclerViewBehaviorActivity"/>
        <activity android:name=".activity.BeautifulBottomSheetActivity"
            />
        <activity android:name=".activity.Smallwidget"/>
        <activity android:name=".svg.SvgActivity"/>
        <activity android:name=".RecycleViewCommon.RVCommonActivity"/>
        <activity android:name=".MDesign.BehaviorMainActivity"/>
        <activity android:name=".MDesign.BehaviorActivity"/>
        <activity android:name=".MDesign.BehaviorActivity1"/>
        <activity android:name=".MDesign.demo.MainActivity"/>
        <activity android:name=".MDesign.demo.BackTopActivity"/>
        <activity android:name=".MDesign.demo.ZhihuActivity"/>
        <activity android:name=".scene.TransitionActivity"/>
        <activity android:name=".ProjectUse.ProjectUserMainActivity"/>

        <activity android:name=".ProjectUse.OneActivity"/>
        <activity android:name=".ProjectUse.ArcMotion.ArcMotionActivity"/>
        <activity android:name=".ProjectUse.ArcMotion.ArcMotionSecondActivity"
                  android:theme="@style/ActivityTransparent"/>

        <activity android:name=".ProjectUse.sceneLayout.TestSceneActivity"/>
        <activity android:name=".ProjectUse.seneFragment.TestSceneFragmentActivity"/>
        <activity android:name=".bottomDialog.BottomDialogShowActivity"/>

        <activity android:name=".commonActivity.TestShortcutsActivity">

            <!--<meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" /> 需要写在app mainactivity入口里面-->
            </activity>

        <activity android:name=".commonActivity.VerticalTextVActivity"/>
        <activity android:name=".CoordinatorLayout.TestCoordinatorLayoutActivity"/>
        <activity android:name=".CoordinatorLayout.TestActivity1"/>
        <activity android:name=".CoordinatorLayout.TestActivity2"/>
        <activity android:name=".CoordinatorLayout.TestActivity3"/>
        <activity android:name=".CoordinatorLayout.TestActivity4"/>
        <activity android:name=".CoordinatorLayout.TestActivity5"/>
        <activity android:name=".CoordinatorLayout.TestActivity6"/>
        <activity android:name=".CoordinatorLayout.TestActivity7"/>
        <activity android:name=".CoordinatorLayout.TestActivity8"/>
        <activity android:name=".CoordinatorLayout.TestActivity9"/>
        <activity android:name=".CoordinatorLayout.TestActivity10"/>
        <activity android:name=".CoordinatorLayout.custom.LoadHeaderImageFromNetworkActivity"/>
        <activity android:name=".CoordinatorLayout.custom.MainActivity"/>
        <activity android:name=".customview.NestedScrolling.TestActivity"/>

        <activity android:name=".MDTransition.MorphTransitions.MainActivity"/>
        <activity android:name=".MDTransition.MorphTransitions.DialogActivity"/>
        <activity android:name=".MDTransition.MorphTransitions.FullScreenActivity"/>


        <activity android:name=".CoordinatorLayout.third.FiveActivity"/>
        <activity android:name=".CoordinatorLayout.third.FourActivity"/>
        <activity android:name=".CoordinatorLayout.third.MainActivity"/>
        <activity android:name=".CoordinatorLayout.third.SecondActivity"/>
        <activity android:name=".CoordinatorLayout.third.SixActivity"/>
        <activity android:name=".CoordinatorLayout.third.ThirdActivity"/>
        <activity android:name=".CoordinatorLayout.third.SevenActivity"/>

        <activity android:name=".LottieAnim.MainActivity"/>
        <activity android:name=".LottieAnim.FontActivity"/>
        <activity android:name=".LottieAnim.AppIntroActivity"/>

    </application>

</manifest>
