<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.meterial.demo"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-sdk tools:overrideLibrary="com.allattentionhere.fabulousfilter"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity android:name=".activity.SplashActivity"
                  android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".activity.ImmersionStatusBar"/>
        <activity android:name=".activity.CoordinatorAndFloating"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".activity.GuideActivity"/>
        <activity android:name=".fragment.CheeseDetailActivity"/>
        <activity android:name=".activity.BannerActivity"
                  android:theme="@style/BlankTheme"/>
        <activity android:name=".activity.RecyclerViewUsed"/>
        <activity android:name=".activity.EndlessRecycle"/>


        <activity android:name=".activity.TransitionMainActivity"
            />
        <activity android:name=".MDTransition.TestActivity"/>

        <activity android:name=".activity.TransitonActivity1"
                  />
        <activity android:name=".activity.TransitionActivity2"
                  />



        <activity android:name=".activity.CircularRevealActivity"/>
        <activity android:name=".activity.BottomSheetActivity"/>
        <activity android:name=".activity.NestedScrollViewActivity"/>
        <activity android:name=".activity.RecyclerViewBehaviorActivity"/>
        <activity android:name=".activity.BeautifulBottomSheetActivity"
            />
        <activity android:name=".activity.Smallwidget"/>
        <activity android:name=".svg.SvgActivity"/>
        <activity android:name=".RecycleViewCommon.RVCommonActivity"/>
        <activity android:name=".MDesign.BehaviorMainActivity"/>
        <activity android:name=".MDesign.BehaviorActivity"/>
        <activity android:name=".MDesign.BehaviorActivity1"/>
        <activity android:name=".MDesign.demo.MainActivity"/>
        <activity android:name=".MDesign.demo.BackTopActivity"/>
        <activity android:name=".MDesign.demo.ZhihuActivity"/>
        <activity android:name=".scene.TransitionActivity"/>
        <activity android:name=".ProjectUse.ProjectUserMainActivity"/>

        <activity android:name=".ProjectUse.OneActivity"/>
        <activity android:name=".ProjectUse.ArcMotion.ArcMotionActivity"/>
        <activity android:name=".ProjectUse.ArcMotion.ArcMotionSecondActivity"
                  android:theme="@style/ActivityTransparent"/>

        <activity android:name=".ProjectUse.sceneLayout.TestSceneActivity"/>
        <activity android:name=".ProjectUse.seneFragment.TestSceneFragmentActivity"/>
        <activity android:name=".bottomDialog.BottomDialogShowActivity"/>

        <activity android:name=".commonActivity.TestShortcutsActivity">

            <!--<meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" /> 需要写在app mainactivity入口里面-->
            </activity>

        <activity android:name=".commonActivity.VerticalTextVActivity"/>
        <activity android:name=".CoordinatorLayout.TestCoordinatorLayoutActivity"/>
        <activity android:name=".CoordinatorLayout.TestActivity1"/>
        <activity android:name=".CoordinatorLayout.TestActivity2"/>
        <activity android:name=".CoordinatorLayout.TestActivity3"/>
        <activity android:name=".CoordinatorLayout.TestActivity4"/>
        <activity android:name=".CoordinatorLayout.TestActivity5"/>
        <activity android:name=".CoordinatorLayout.TestActivity6"/>
        <activity android:name=".CoordinatorLayout.TestActivity7"/>
        <activity android:name=".CoordinatorLayout.TestActivity8"/>
        <activity android:name=".CoordinatorLayout.TestActivity9"/>
        <activity android:name=".CoordinatorLayout.TestActivity10"/>
        <activity android:name=".CoordinatorLayout.TestActivity14"/>
        <activity android:name=".CoordinatorLayout.easeBehavior.ui.TestActivity15"/>
        <activity android:name=".CoordinatorLayout.easeBehavior.ui.TestActivity16"/>

        <activity android:name=".CoordinatorLayout.custom.LoadHeaderImageFromNetworkActivity"/>
        <activity android:name=".CoordinatorLayout.custom.MainActivity"/>
        <activity android:name=".customview.NestedScrolling.TestActivity"/>

        <activity android:name=".MDTransition.MorphTransitions.MainActivity"/>
        <activity android:name=".MDTransition.MorphTransitions.DialogActivity"/>
        <activity android:name=".MDTransition.MorphTransitions.FullScreenActivity"/>


        <activity android:name=".CoordinatorLayout.third.FiveActivity"/>
        <activity android:name=".CoordinatorLayout.third.FourActivity"/>
        <activity android:name=".CoordinatorLayout.third.MainActivity"/>
        <activity android:name=".CoordinatorLayout.third.SecondActivity"/>
        <activity android:name=".CoordinatorLayout.third.SixActivity"/>
        <activity android:name=".CoordinatorLayout.third.ThirdActivity"/>
        <activity android:name=".CoordinatorLayout.third.SevenActivity"/>

        <activity android:name=".LottieAnim.MainActivity"/>
        <activity android:name=".LottieAnim.FontActivity"/>
        <activity android:name=".LottieAnim.AppIntroActivity"/>
        <activity android:name=".commonActivity.ToolbarTitleAnimation"/>
        <activity android:name=".commonActivity.CircleImageViewActivity"/>
        <activity android:name=".commonActivity.TestPinActivity"/>
        <activity android:name=".commonActivity.WheelActivity"/>
        <activity android:name=".commonActivity.wheel.WheelActivity1"/>
        <activity android:name=".commonActivity.chanelView.MainActivity"/>
        <activity android:name=".commonActivity.verticalslide.MainActivity"/>
        <activity android:name=".commonActivity.SecretActivity"/>
        <activity android:name=".commonActivity.PanningViewActivity"/>
        <activity android:name=".commonActivity.spruce.SpruceActivity"/>
        <activity android:name=".commonActivity.spruce.RecyclerActivity"/>
        <activity android:name=".commonActivity.GossipActivity"/>
        <activity android:name=".commonActivity.TestTextSwitcher"/>
        <activity android:name=".commonActivity.ratinbar.TestRatinBarActivity"/>
        <activity android:name=".commonActivity.cardview.MainActivity"/>
        <activity android:name=".commonActivity.TextSpan.TestTextSpanActivity"/>
        <activity android:name=".commonActivity.Carousel.CarouselActivity"/>
        <activity android:name=".commonActivity.Carousel.DetailsActivity"/>
        <activity android:name=".commonActivity.KenBurns.MainActivity"/>
        <activity android:name=".commonActivity.KenBurns.FromURLActivity"/>
        <activity android:name=".commonActivity.KenBurns.MultiImageActivity"/>
        <activity android:name=".commonActivity.KenBurns.SingleImageActivity"/>
        <activity android:name=".commonActivity.ship.MainActivity"/>
        <activity android:name=".commonActivity.ship.view2.MainActivity"/>
        <activity android:name=".commonActivity.ship.view3.MainActivity"/>
        <activity android:name=".commonActivity.ship.view3.ContactListActivity"/>
        <activity android:name=".commonActivity.ship.view3.ChipExamplesActivity"/>
        <activity android:name=".commonActivity.TestRoundBgActivity"/>
        <activity android:name=".commonActivity.TestAnimationsActivity"/>
        <activity android:name=".commonActivity.TestItemViewPagerActivity"/>
        <activity android:name=".commonActivity.ViewPagerCards.MainActivity"/>
        <activity android:name=".commonActivity.GoodActivty"/>
        <activity android:name=".commonActivity.index.ListIndexActivity"/>
        <activity android:name=".commonActivity.MyTopTabActivity"/>
        <activity android:name=".ProjectUse.custom.CircularRevealActivity"/>
        <activity android:name=".RatingBar.TestRatinBarActivity"/>
        <activity android:name=".commonActivity.blur.BlurMainActivity"/>
        <activity android:name=".commonActivity.blur.Blur500pxActivity"/>
        <activity android:name=".commonActivity.Panorama.PanorMainActiivty"/>
        <activity android:name=".commonActivity.Panorama.HorizontalSampleActivity"/>
        <activity android:name=".commonActivity.Panorama.RecyclerViewSampleActivity"/>
        <activity android:name=".commonActivity.Panorama.VerticalSampleActivity"/>
        <activity android:name=".commonActivity.Panorama.Panorama360Activity"/>
        <activity android:name=".commonActivity.Panorama.Panorama360Activity2"/>
        <activity android:name=".commonActivity.BilibiliSearchView.MainActivity"/>
        <activity android:name=".commonActivity.Nice9.NineMainActivity"/>
        <activity android:name=".commonActivity.Nice9.DemoDragActivity"/>
        <activity android:name=".commonActivity.Nice9.DemoListActivity"/>
        <activity android:name=".commonActivity.recyvleviewTest.MainActivity"/>
        <activity android:name=".commonActivity.recyvleviewTest.BeautifulRecyclerViewActivity"/>
        <activity android:name=".commonActivity.recyvleviewTest.PowerfulStickyRecyclerViewActivity"/>
        <activity android:name=".commonActivity.recyvleviewTest.StickyRecyclerViewActivity"/>
        <activity android:name=".CoordinatorLayout.easeBehavior.ui.TestActivity13"/>
        <activity android:name=".commonActivity.XEditTextActivity"/>
        <activity android:name=".commonActivity.DashBoardActivity"/>
        <activity android:name=".commonActivity.ChameleonActivity"/>
        <activity android:name=".commonActivity.scaleImg.ScaleTransitionImageAnim"/>
        <activity android:name=".commonActivity.FabulousFilter.FabulousFilterActivity"/>
        <activity android:name=".commonActivity.FabulousFilter.FragmentExampleActivity"/>
        <activity android:name=".commonActivity.FabulousFilter.MainSampleActivity"/>
        <activity android:name=".commonActivity.FabulousFilter.MenuActivity"/>
        <activity android:name=".activity.BottomNavigationActivity"/>

        <activity android:name=".commonActivity.supportBottom.SupportBottomActivity"/>
        <activity android:name=".commonActivity.supportBottom.DetailActivity"/>
        <activity android:name=".commonActivity.supportBottom.BottomNavigationActivity"/>
        <activity android:name=".commonActivity.supportBottom.LoginActivity"/>

        <activity android:name=".commonActivity.bottomNav.BadgeActivity"/>
        <activity android:name=".commonActivity.bottomNav.BottomNavMainActivity"/>
        <activity android:name=".commonActivity.bottomNav.CustomColorAndFontActivity"/>
        <activity android:name=".commonActivity.bottomNav.FiveColorChangingTabsActivity"/>
        <activity android:name=".commonActivity.bottomNav.IconsOnlyActivity"/>
        <activity android:name=".commonActivity.bottomNav.ThreeTabsActivity"/>
        <activity android:name=".commonActivity.bottomNav.ThreeTabsQRActivity"/>
        <activity android:name=".activity.MyCalendarActivity"/>
        <activity android:name=".activity.MyCalendarThumb"/>
        <activity android:name=".activity.MyCalendarActivity2"/>
        <activity android:name=".activity.MyCalendarThumbGrid"/>
        <activity android:name=".activity.LableMoveActivity"/>
        <activity android:name=".commonActivity.ExpandLayoutActivity"/>
        <activity android:name=".commonActivity.ExpandLayoutCustomActivity"/>
        <activity android:name=".customview.expandLayout.ExpandLayoutActivity3"/>
        <activity android:name=".activity.LableMove2Activity"/>
        <activity android:name=".activity.TestActivity"/>
        <activity android:name=".commonActivity.TextAroundActivity"/>

        <activity android:name=".sticky.RecycleStickyActivity"/>
        <activity android:name=".index.sample.MainActivity"/>
        <activity android:name=".index.sample.city.PickCityActivity"/>
        <activity android:name=".index.sample.contact.PickContactActivity"/>
        <activity android:name=".activity.ArcActivity"/>
        <activity android:name=".activity.TestIPCActivity"/>
        <activity android:name=".excelpanel.ExcelPanelActivity"/>
        <activity android:name=".activity.WindowImageActivity"/>
        <activity android:name=".commonActivity.captcha.CaptchaMainActivity"/>
        <activity android:name=".commonActivity.switchloop3D.LoopRotarySwitchActivity"/>
        <activity android:name=".menu.m1.DemoActivity"/>
        <activity android:name=".menu.m1.MenuInScrollViewActivity"/>
        <activity android:name=".menu.m1.MenuWithCustomActionButtonActivity"/>
        <activity android:name=".menu.m1.MenuWithCustomAnimationActivity"/>
        <activity android:name=".menu.m1.MenuWithFABActivity"/>
        <activity android:name=".menu.m1.SystemOverlayMenuActivity"/>
        <service android:name=".menu.m1.SystemOverlayMenuService"/>

        <activity android:name=".menu.m2.Menu2Activity"/>

        <activity android:name=".menu.m3.MenuMain3Activity"/>
        <activity android:name=".menu.m3.ActionBarActivity"/>
        <activity android:name=".menu.m3.BoomExampleActivity"/>
        <activity android:name=".menu.m3.ButtonPlaceAlignmentActivity"/>
        <activity android:name=".menu.m3.ChangeBoomButtonActivity"/>
        <activity android:name=".menu.m3.ControlActivity"/>
        <activity android:name=".menu.m3.CustomPositionActivity"/>
        <activity android:name=".menu.m3.DraggableActivity"/>
        <activity android:name=".menu.m3.EaseActivity"/>
        <activity android:name=".menu.m3.FadeViewsActivity"/>
        <activity android:name=".menu.m3.FragmentActivity"/>
        <activity android:name=".menu.m3.HamButtonActivity"/>
        <activity android:name=".menu.m3.ListenerActivity"/>
        <activity android:name=".menu.m3.ListViewActivity"/>
        <activity android:name=".menu.m3.OrderExampleActivity"/>
        <activity android:name=".menu.m3.OrientationActivity"/>
        <activity android:name=".menu.m3.RecyclerViewActivity"/>
        <activity android:name=".menu.m3.ShareActivity"/>
        <activity android:name=".menu.m3.SimpleCircleButtonActivity"/>
        <activity android:name=".menu.m3.SquareAndPieceCornerRadiusActivity"/>
        <activity android:name=".menu.m3.TextInsideCircleButtonActivity"/>
        <activity android:name=".menu.m3.TextOutsideCircleButtonActivity"/>
        <activity android:name=".menu.m3.ThreeDAnimationActivity"/>
        <activity android:name=".menu.m3.ToolBarActivity"/>
        <activity android:name=".menu.m4.CircleMenuActivity"/>
        <activity android:name=".menu.m5.CircleMenu5Activity"/>
        <activity android:name=".menu.m6.Menu6Activity"/>
        <activity android:name=".menu.m7.Menu7Activity"/>
        <activity android:name=".menu.m7.SecondaryActivity"/>
        <activity android:name=".commonActivity.captcha1.CaptchaMainActivity1"/>
        <activity android:name=".itemAnimation.ItemAnimaActivity"/>
        <activity android:name=".itemAnimation.RecyclerViewActivity"/>
        <activity android:name=".itemAnimation.StaggeredGridActivity"/>

        <activity android:name=".itemAnimation.anim1.AdapterSampleActivity"/>
        <activity android:name=".itemAnimation.anim1.AnimatorSampleActivity"/>
        <activity android:name=".itemAnimation.anim1.ItemAnima1Activity"/>

        <activity android:name=".itemAnimation.anim2.ExampleActivity"/>
        <activity android:name=".itemAnimation.anim2.MyActivity"/>

        <activity android:name=".commonActivity.swipecard.SwipeCardActivity"/>
        <activity android:name=".commonActivity.swipecard.tantan.TanTanActivity"/>
        <activity android:name=".commonActivity.swipecard.zuimei.ScaleCardActivity"/>
        <activity android:name=".commonActivity.drag.demo1.ViewDragActivity"/>
        <activity android:name=".commonActivity.drag.demo2.DragDeleteActivity"/>
        <activity android:name=".commonActivity.drag.demo3.DragSortMainActivity"/>
        <activity android:name=".commonActivity.drag.demo3.GridViewActivity"/>
        <activity android:name=".commonActivity.drag.demo3.ListViewActivity"/>
        <activity android:name=".commonActivity.swipecard.demo.SwipCardActivity"/>
        <activity android:name=".commonActivity.layoutmanager.demo1.CustomManagerActivity1"/>

        <activity android:name=".commonActivity.layoutmanager.demo2.CustomManager2Activity"/>
        <activity android:name=".commonActivity.layoutmanager.demo2.carousel.CarouselLayoutActivity"/>
        <activity android:name=".commonActivity.layoutmanager.demo2.circle.CircleLayoutActivity"/>
        <activity android:name=".commonActivity.layoutmanager.demo2.circlescale.CircleScaleLayoutActivity"/>
        <activity android:name=".commonActivity.layoutmanager.demo2.gallery.GalleryLayoutActivity"/>
        <activity android:name=".commonActivity.layoutmanager.demo2.rotate.RotateLayoutActivity"/>
        <activity android:name=".commonActivity.layoutmanager.demo2.scale.ScaleLayoutActivity"/>
        <activity android:name=".commonActivity.toutiao.MainActivity"/>
        <activity android:name=".commonActivity.drag.demo4.DragGroupActivity"/>
        <activity android:name=".commonActivity.rotateText.RotatingTextActivity"/>
        <activity android:name=".commonActivity.NextLayout.demo1.ui.NextLayoutActivity"/>
        <activity android:name=".commonActivity.NextLayout.demo1.ui.OtherModelActivity"/>
        <activity android:name=".commonActivity.NextLayout.demo1.ui.ScrollViewModelActivity"/>
        <activity android:name=".commonActivity.NextLayout.demo1.ui.WebViewActivity"/>

        <activity android:name=".commonActivity.InfiniteCards.InfiniteCardActivity"/>
        <activity android:name=".commonActivity.ExpandingCollection.ExpandCollectionActivity"/>
        <activity android:name=".commonActivity.rangeseekbar.RangeSeekBarActivity"/>
        <activity android:name=".menu.m8.MainActivity"/>
        <activity android:name=".commonActivity.filpcard.MainActivity"/>
        <activity android:name=".commonActivity.overflyingview.MainActivity"/>
        <activity android:name=".commonActivity.overflyingview.HorizontalActivity"/>
        <activity android:name=".commonActivity.overflyingview.VertialActivity"/>
        <activity android:name=".commonActivity.overflyingview.Vertial2Activity"/>


        <activity android:name=".commonActivity.dialogAnima.DialogAnimActivity"/>
        <activity android:name=".test.TestScanerActivity"/>

        <activity android:name=".commonActivity.finger.MainActivity"/>
        <activity android:name=".commonActivity.finger.ScannerActivity"/>

        <activity android:name=".commonActivity.stereoview.StereoMainActivity"/>
        <activity android:name=".commonActivity.stereoview.ImageActivity"/>
        <activity android:name=".commonActivity.stereoview.LoginActivity"/>
        <activity android:name=".commonActivity.stereoview.SettingActivity"/>
        <activity android:name=".commonActivity.roll3D.Roll3DMainActivity"/>
        <activity android:name=".commonActivity.roll3D.DemoAct"/>
        <activity android:name=".commonActivity.roll3D.RollDebugAct"/>

        <activity android:name=".commonActivity.spinMenu.SpinMenuActivity"/>

        <activity android:name=".commonActivity.PanelLayout.DemoActivity1"/>
        <activity android:name=".commonActivity.PanelLayout.DemoActivity2"/>
        <activity android:name=".commonActivity.PanelLayout.MainActivity"/>

        <activity android:name=".chart.ChartActivity1"/>
        <activity android:name=".chart.ChartActivity2"/>
        <activity android:name=".chart.ChartActivity3"/>
        <activity android:name=".chart.ChartActivity4"/>
        <activity android:name=".chart.ChartActivity5"/>
        <activity android:name=".chart.ChartActivity6"/>
        <activity android:name=".chart.ChartActivity7"/>
        <activity android:name=".chart.ChartActivity8"/>

        <activity android:name=".enterAnim.EnterAnimActivity"/>
        <activity android:name=".enterAnim.enter2.EnterAnimActivity2"/>
        <activity android:name=".enterAnim.enter2.RecyclerViewActivity"/>
        <activity android:name=".enterAnim.enter2.StaggeredGridActivity"/>

        <activity android:name=".commonActivity.ClipChildrenActivity"/>

        <activity android:name=".commonActivity.remote.RemoteActivity"/>
        <activity android:name=".commonActivity.carouse.CustomCarouseActivity"/>
        <activity android:name=".commonActivity.retail.ListDemoActivity"/>
        <activity android:name=".commonActivity.expandView.ExpandViewActivity"/>
        <activity android:name=".test.DiDi.DiDiAnimationActivity"/>

        <activity android:name=".wheel.w1.WheelMainActivity1"/>
        <activity android:name=".wheel.w1.DatePickerTestActivity"/>
        <activity android:name=".wheel.w1.SimpleTestActivity"/>

        <activity android:name=".wheel.w2.WheelMainActivity2"/>
        <activity android:name=".commonActivity.SmileView.SmileMainActivity"/>
        <activity android:name=".commonActivity.CustomLayoutAnimation.TestCustomLayoutAnimationController"/>
        <activity android:name=".commonActivity.TestLayoutTransition.TestLayoutTransition"/>
        <activity android:name=".ObjectAnim.TestSetAndGet"/>
        <activity android:name=".ObjectAnim.customAnim.TestCustomAnimation"/>
        <activity android:name=".commonActivity.TestLayoutTransition.TestLayoutTransition2"/>
        <activity android:name=".ObjectAnim.customAnim.TestCustomAnimationActivity01"/>
        <activity android:name=".ObjectAnim.customAnim.NumberAnimationActivity"/>
        <activity android:name=".commonActivity.cube.CubeMainActivity"/>

        <activity android:name=".commonActivity.FoldableLayout.FoldMainActivity"/>
        <activity android:name=".commonActivity.FoldableLayout.FoldableListActivity"/>
        <activity android:name=".commonActivity.FoldableLayout.UnfoldableDetailsActivity"/>
        <activity android:name=".commonActivity.SlidingDeck.DeckMainActivity"/>

        <activity android:name=".commonActivity.CardStack.CardStackMainActivity"/>

        <activity android:name=".commonActivity.TextPathView.FirstActivity"/>
        <activity android:name=".commonActivity.TextPathView.ForthActivity"/>
        <activity android:name=".commonActivity.TextPathView.SecondActivity"/>
        <activity android:name=".commonActivity.TextPathView.TextPathMainActivity"/>
        <activity android:name=".commonActivity.TextPathView.ThirdActivity"/>

        <activity android:name=".commonActivity.ViewpagerHeader.VPHeaderMainActivity"/>

        <activity android:name=".FragmentAnimation.anim1.MainActivityAnim1"/>
        <activity android:name=".FragmentAnimation.anim2.MainActivityAnim2"/>

        <activity android:name=".commonActivity.BankCard.AddBankCardActivity"/>

        <activity android:name=".commonActivity.WaveView.WaveViewMainActivity"/>
        <activity android:name=".commonActivity.WaveView.DoubleSplitTextActivity"/>

        <activity android:name=".commonActivity.ShimmerText.TestXFormodeActivity"/>
        <activity android:name=".commonActivity.ShimmerText.TestShimmerActivity"/>
        <activity android:name=".commonActivity.ShimmerText.TestKTVTextActivity"/>

        <activity android:name=".commonActivity.Door.DoorMainActivity"/>
        <activity android:name=".commonActivity.FlipAnimation.FilpAnimActivity"/>

        <activity android:name=".commonActivity.FlightSeat.FlightSeatActivity"/>

        <activity android:name=".commonActivity.AnimatedRandomLayout.AnimaRandomLayoutActivity"/>

        <activity android:name=".commonActivity.CouponView.CouponViewActivity"/>

        <activity android:name=".widgetActivity.AccentFirst.AccentFIrstActivity"/>
        <activity android:name=".widgetActivity.ExpandTable.ExpandTableActivity"/>

        <activity android:name=".widgetActivity.InDoor.InDoorActivity"/>
        <activity android:name=".widgetActivity.SeatTable.SeatTableActivity1"/>
        <activity android:name=".widgetActivity.SeatTable2.SeatSelectionActivity"/>

        <activity android:name=".widgetActivity.PhotoView.ImageViewActivity"/>
        <activity android:name=".widgetActivity.PhotoView.ImgActivity"/>
        <activity android:name=".widgetActivity.PhotoView.ImgClick"/>
        <activity android:name=".widgetActivity.PhotoView.PhotoViewActivity"/>
        <activity android:name=".widgetActivity.PhotoView.ViewPagerActivity"/>
        <activity android:name=".widgetActivity.PhotoView.PhotoBrowse"/>


        <activity android:name=".widgetActivity.PhotoView2.LauncherActivity"/>


        <activity android:name=".widgetActivity.PhotoView2.SimpleSampleActivity" />

        <activity android:name=".widgetActivity.PhotoView2.ViewPagerActivity" />

        <activity android:name=".widgetActivity.PhotoView2.RotationSampleActivity" />

        <activity android:name=".widgetActivity.PhotoView2.PicassoSampleActivity" />

        <activity android:name=".widgetActivity.PhotoView2.ActivityTransitionActivity" />

        <activity android:name=".widgetActivity.PhotoView2.ActivityTransitionToActivity" />

        <activity android:name=".widgetActivity.PhotoView2.ImmersiveActivity" />
        <activity android:name=".widgetActivity.TouchImage.TouchImageActivity"/>

        <activity android:name=".widgetActivity.Calendar1.SampleActivity"/>

        <activity android:name=".widgetActivity.TimesSquare.SampleTimesSquareActivity"/>
        <activity android:name=".widgetActivity.selectorAttr.TestSelectorAttrActivity"/>

        <activity android:name=".widgetActivity.HotelCalendar.MenuActivity"/>
        <activity android:name=".widgetActivity.HotelCalendar.PeroidSelectedActivity"/>
        <activity android:name=".widgetActivity.HotelCalendar.SingleSelectActivity"/>

        <activity android:name=".widgetActivity.ScrollCalendar.activity.DateActivity"/>
        <activity android:name=".widgetActivity.ScrollCalendar.activity.DefaultAdapterActivity"/>
        <activity android:name=".widgetActivity.ScrollCalendar.activity.DefaultRangeAdapterActivity"/>
        <activity android:name=".widgetActivity.ScrollCalendar.activity.NavigationActivity"/>
        <activity android:name=".widgetActivity.ScrollCalendar.activity.RangeActivity"/>

        <activity android:name=".widgetActivity.SublimePicker.Sampler"/>

        <activity android:name=".widgetActivity.CalendarView.HomeActivity"/>
        <activity android:name=".widgetActivity.CalendarView.CalendarActivity"/>
        <activity android:name=".widgetActivity.CalendarView.CalendarMonthActivity"/>
        <activity android:name=".widgetActivity.CalendarView.CalendarWeekActivity"/>
        <activity android:name=".widgetActivity.CalendarView.DashBoardActivity"/>
        <activity android:name=".widgetActivity.CalendarView.RingActivity"/>

        <activity android:name=".widgetActivity.DragDrop.DragTestActivity"/>
        <activity android:name=".widgetActivity.DragDrop.drag1.DragActivity"/>
        <activity android:name=".widgetActivity.DragDrop.DragHelper.DragHelperMainActivity"/>

        <activity android:name=".widgetActivity.DragDrop.drag2.DragItemActivity"/>
        <activity android:name=".widgetActivity.MultiSnapRecyclerView.MultiSnapRVActivity"/>
        <activity android:name=".widgetActivity.MultiSnapRecyclerView.HorizontalActivity"/>
        <activity android:name=".widgetActivity.MultiSnapRecyclerView.VerticalActivity"/>
        <activity android:name=".widgetActivity.AliBehaver.AliMainActivity"/>

        <activity android:name=".widgetActivity.TicketView.TicketViewActivity"/>
        <activity android:name=".widgetActivity.TicketView2.TicketView2Activity"/>
        <activity android:name=".widgetActivity.Scratch.ScratchCardActivity"/>

        <activity android:name=".commonActivity.RemoteControllerDemoActivity"/>
        <activity android:name=".commonActivity.MagicProgressBarActivity"/>

    </application>

</manifest>
