<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.meterial.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity"
                  android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ImmersionStatusBar"/>
        <activity android:name=".activity.CoordinatorAndFloating"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".activity.GuideActivity"/>
        <activity android:name=".fragment.CheeseDetailActivity"/>
        <activity android:name=".activity.BannerActivity"
                  android:theme="@style/BlankTheme"/>
        <activity android:name=".activity.RecyclerViewUsed"/>
        <activity android:name=".activity.EndlessRecycle"
            />
    </application>

</manifest>
